*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.login-box,
.todo-box{
    width:420px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
    text-align:center;
    transition:0.3s;
}

.login-box:hover,
.todo-box:hover{
    transform:scale(1.02);
}

#loginPage{
    display:none;
}

#todoPage{
    display:none;
}

h2{
    color:#333;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:2px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

input:focus{
    outline:none;
    border-color:#4facfe;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#4facfe;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#007bff;
}

.link{
    margin-top:15px;
}

.link a{
    text-decoration:none;
    color:#007bff;
    font-weight:bold;
}

.link a:hover{
    text-decoration:underline;
}

h3{
    margin-top:20px;
    color:#333;
}

ul{
    list-style:none;
    margin-top:20px;
    padding:0;
}

li{
    background:#f4f4f4;
    margin:10px 0;
    padding:12px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

li:hover{
    background:#dff6ff;
}

.delete-btn{
    width:80px;
    background:red;
    color:white;
    border:none;
    padding:8px;
    border-radius:6px;
    cursor:pointer;
}

.delete-btn:hover{
    background:darkred;
}

.logout-btn{
    margin-top:20px;
    background:#ff9800;
}

.logout-btn:hover{
    background:#e68900;
}